<div class="bodywithoutsidetoc">


<main class="bodycontainer">


<section class="textbody">

<a id="resume2025-autofile-0"></a>

<!--MathJax customizations:-->
<div data-nosnippet
    style="display:none"
>

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\let \LWRorighspace \hspace \)

\(\renewcommand {\hspace }{\ifstar \LWRorighspace \LWRorighspace }\)

\(\newcommand {\TextOrMath }[2]{#2}\)

\(\newcommand {\mathnormal }[1]{{#1}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\arabic }[1]{}\)

\(\newcommand {\number }[1]{}\)

\(\newcommand {\noalign }[1]{\text {#1}\notag \\}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\newcommand {\LWRabsorboption }[1][]{}\)

\(\newcommand {\LWRabsorbtwooptions }[1][]{\LWRabsorboption }\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\def \oe {\unicode {x0153}}\)

\(\def \OE {\unicode {x0152}}\)

\(\def \ae {\unicode {x00E6}}\)

\(\def \AE {\unicode {x00C6}}\)

\(\def \aa {\unicode {x00E5}}\)

\(\def \AA {\unicode {x00C5}}\)

\(\def \o {\unicode {x00F8}}\)

\(\def \O {\unicode {x00D8}}\)

\(\def \l {\unicode {x0142}}\)

\(\def \L {\unicode {x0141}}\)

\(\def \ss {\unicode {x00DF}}\)

\(\def \SS {\unicode {x1E9E}}\)

\(\def \dag {\unicode {x2020}}\)

\(\def \ddag {\unicode {x2021}}\)

\(\def \P {\unicode {x00B6}}\)

\(\def \copyright {\unicode {x00A9}}\)

\(\def \pounds {\unicode {x00A3}}\)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\require {textcomp}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\def \LWRbooktabscmidruleparen (#1)#2{}\)

\(\newcommand {\LWRbooktabscmidrulenoparen }[1]{}\)

\(\newcommand {\cmidrule }[1][]{\ifnextchar (\LWRbooktabscmidruleparen \LWRbooktabscmidrulenoparen }\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\firsthdashline }[1][]{\hdashline }\)

\(\let \lasthdashline \firsthdashline \)

\(\let \cdashline \cline \)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\let \Hat \hat \)

\(\let \Check \check \)

\(\let \Tilde \tilde \)

\(\let \Acute \acute \)

\(\let \Grave \grave \)

\(\let \Dot \dot \)

\(\let \Ddot \ddot \)

\(\let \Breve \breve \)

\(\let \Bar \bar \)

\(\let \Vec \vec \)

</div>

<a id="resume2025-autopage-1"></a>
<table>

<tr style="display:none"><th>.</th></tr>

<tr>
<td class="tdl"><b><a href="https://axu930.github.io/" target="_blank" >Alex Xu</a></b></td>
<td class="tdat"></td>
<td class="tdr"><a href="mailto:axu930@gmail.com" target="_blank" >axu930@gmail.com</a></td>
</tr>

<tr>
<td class="tdl"><a href="https://www.linkedin.com/in/xu-alex/" target="_blank" >linkedin.com/in/xu-alex</a></td>
<td class="tdat"></td>
<td class="tdr">(805) 708-2565</td>
</tr>

<tr>
<td class="tdl"><a href="https://github.com/axu930/" target="_blank" >github.com/axu930</a></td>
<td class="tdat"></td>
<td class="tdr"></td>
</tr>
</table>
<!--
...... section Skills ......
-->
<h4 id="autosec-3"><span class="sectionnumber">1&#x2003;</span>Skills</h4>
<a id="resume2025-autopage-3"></a>


<p>
<b>Programming Languages</b>: Python, Java, C/C++, Rust, PyTorch, Scikit-learn, Numpy, Pandas, Polars, SQL, <span class="latexlogofont"><span class="latexlogo">L<span class="latexlogosup">a</span>T<span
class="latexlogosub">e</span>X</span></span><br />
<b>Machine Learning</b>: Variational Autoencoders, Diffusion Models, Transformers, Retrieval Augmented Generation, Low Rank Adaption<br />
<b>Math &amp; Statistics</b>: Bayesian Statistics, Variational Inference, Convex Optimization, Linear Regression, Partial Differential Equations, Differential Geometry, Riemannian Manifolds<br />
<b>Languages</b>: English, Chinese
</p>
<!--
...... section Education ......
-->
<h4 id="autosec-4"><span class="sectionnumber">2&#x2003;</span>Education</h4>
<a id="resume2025-autopage-4"></a>


<ul class="itemize" style="list-style-type:none">

<li>
<p>
<span class="listmarker">•</span>
</p>
<table>
<tr style="display:none"><th>.</th></tr>

<tr>
<td class="tdl"><b>Columbia University, PhD Mathematics</b></td>
<td class="tdat"></td>
<td class="tdr">2025</td>
</tr>

<tr>
<td class="tdl"><i>Advisor: Prof. Francesco Lin, Thesis: The Seiberg—Witten Equations and Asymptotically Hyperbolic Einstein Metrics</i></td>
<td class="tdat"></td>
<td class="tdr"><i></i></td>
</tr>

</table>
</li>
<li>

<p>
<span class="listmarker">•</span>
</p>
<table>
<tr style="display:none"><th>.</th></tr>

<tr>
<td class="tdl"><b>Columbia University, MA Mathematics</b></td>
<td class="tdat"></td>
<td class="tdr">2022</td>
</tr>

<tr>
<td class="tdl"><i>Advisor: Prof. Francesco Lin</i></td>
<td class="tdat"></td>
<td class="tdr"><i></i></td>
</tr>

</table>
</li>
<li>

<p>
<span class="listmarker">•</span>
</p>
<table>
<tr style="display:none"><th>.</th></tr>

<tr>
<td class="tdl"><b>University of California Santa, Barbara, BS Mathematics</b></td>
<td class="tdat"></td>
<td class="tdr">2020</td>
</tr>

<tr>
<td class="tdl"><i>Advisor: Prof. Xianzhe Dai, Thesis: Adiabatic Limits and Hodge Leray Theory</i></td>
<td class="tdat"></td>
<td class="tdr"><i></i></td>
</tr>

</table>
</li>
</ul>
<!--
...... section Experience ......
-->
<h4 id="autosec-8"><span class="sectionnumber">3&#x2003;</span>Experience</h4>
<a id="resume2025-autopage-8"></a>


<ul class="itemize" style="list-style-type:none">

<li>
<p>
<span class="listmarker">•</span>
</p>
<table>
<tr style="display:none"><th>.</th></tr>

<tr>
<td class="tdl"><b>Columbia University</b></td>
<td class="tdat"></td>
<td class="tdr">New York, NY</td>
</tr>

<tr>
<td class="tdl"><i>Graduate Student Instructor</i></td>
<td class="tdat"></td>
<td class="tdr"><i>Sep. 2021 - Current</i></td>
</tr>

</table>
<ul class="itemize" style="list-style-type:none">

<li>
<p>
<span class="listmarker">◦</span> Created course curriculum and taught biweekly classes for Calculus 1 as the Instructor of Record
</p>

</li>
<li>

<p>
<span class="listmarker">◦</span> Graduate TA for various classes including: Calculus and Optimization, Linear Algebra, Calculus 3, Calculus 2, Calculus 1, and Algebraic Topology
</p>
</li>
</ul>
</li>
<li>

<p>
<span class="listmarker">•</span>
</p>
<table>
<tr style="display:none"><th>.</th></tr>

<tr>
<td class="tdl"><b>UC Santa Barbara</b></td>
<td class="tdat"></td>
<td class="tdr">Santa Barbara, CA</td>
</tr>

<tr>
<td class="tdl"><i>Undergraduate TA</i></td>
<td class="tdat"></td>
<td class="tdr"><i>Jan. 2018 - Jun. 2020</i></td>
</tr>

</table>
<ul class="itemize" style="list-style-type:none">

<li>
<p>
<span class="listmarker">◦</span> Grader for graduate level Differential Geometry, Discrete Math, Linear Algebra, and Convex Optimization
</p>
</li>
</ul>
</li>
<li>

<p>
<span class="listmarker">•</span>
</p>
<table>
<tr style="display:none"><th>.</th></tr>

<tr>
<td class="tdl"><b>Summer@ICERM</b></td>
<td class="tdat"></td>
<td class="tdr">Providence, RI</td>
</tr>

<tr>
<td class="tdl"><i>Undergraduate Researcher</i></td>
<td class="tdat"></td>
<td class="tdr"><i>Jun. 2018 - Aug. 2018</i></td>
</tr>

</table>
<ul class="itemize" style="list-style-type:none">

<li>
<p>
<span class="listmarker">◦</span> Researched and made progress on longstanding conjectures in Teichmu&#x0308;ller theory and the study of hyperbolic Riemann surfaces
</p>

</li>
<li>

<p>
<span class="listmarker">◦</span> Used Python to visualize and understand properties of hyperbolic surfaces and generate new conjectures
</p>
</li>
</ul>
</li>
</ul>
<!--
...... section ML Projects ......
-->
<h4 id="autosec-12"><span class="sectionnumber">4&#x2003;</span>ML Projects</h4>
<a id="resume2025-autopage-12"></a>


<ul class="itemize" style="list-style-type:none">

<li>
<p>
<span class="listmarker">•</span> <b><a href="https://github.com/axu930/gpt_sae" target="_blank" >gpt_sae</a></b>: Implemented a sparse autoencoder (SAE) for dictionary learning of features learned by the GPT2 small model.
Conducted ablation testing and benchmarking for various loss functions and SAE architectures to compare which methods had best feature generations.
</p>
</li>
<li>

<p>
<span class="listmarker">•</span> <b><a href="https://github.com/axu930/localRAG" target="_blank" >localRAG</a></b>: Implemented retrieval augmented generation (RAG) for various statistics and machine learning textbooks
using the Mixedbread AI model mxbai-embed-large-v1 to create a vector database and the Google gemma-2-2b-it model for LLM text generation.
</p>
</li>
<li>

<p>
<span class="listmarker">•</span> <b><a href="https://github.com/axu930/mini-diffusion" target="_blank" >mini-diffusion</a></b>: Implemented a 825k parameter U-net diffusion model in PyTorch for generation of self-portraits.
</p>
</li>
<li>

<p>
<span class="listmarker">•</span> <b><a href="https://github.com/axu930/LoRA_gpt2" target="_blank" >LoRA_gpt2</a></b>: Implemented low-rank adaption (LoRA) fine tuning on the GPT2 124M checkpoint in PyTorch.
</p>
</li>
<li>

<p>
<span class="listmarker">•</span> <b><a href="https://github.com/axu930/nanoGPT" target="_blank" >nanoGPT</a></b>: Implemented a simple GPT and tokenizer from scratch in PyTorch
</p>
</li>
<li>

<p>
<span class="listmarker">•</span> <b><a href="https://github.com/axu930/VAEs/tree/main" target="_blank" >VAEs</a></b>: Implementation of a variational autoencoder (VAE) to learn the MNIST dataset
</p>
<p>

</p>
</li>
</ul>
<!--
...... section Publications and Preprints ......
-->
<h4 id="autosec-13"><span class="sectionnumber">5&#x2003;</span>Publications and Preprints</h4>
<a id="resume2025-autopage-13"></a>


<ul class="itemize" style="list-style-type:none">

<li>
<p>
<span class="listmarker">•</span> <b>Seiberg-Witten Equations and Einstein Metrics on Finite Volume 4-Manifolds with Asymptotically Hyperbolic Ends</b>: Preprint - <a href="https://arxiv.org/abs/2402.10366"
target="_blank" >arxiv.org/abs/2402.10366</a>
</p>
</li>
</ul>
<!--
...... section Invited talks ......
-->
<h4 id="autosec-14"><span class="sectionnumber">6&#x2003;</span>Invited talks</h4>
<a id="resume2025-autopage-14"></a>


<p>
<b>MSU - <a href="https://sites.google.com/view/gstgc2024msu/home" target="_blank" >Graduate Student Topology and Geometry Conference</a></b>: 2024<br />
<b>SUNY Stony Brook - <a href="https://www.math.stonybrook.edu/cal/event.php?ID=6419" target="_blank" >Symplectic Geometry, Gauge Theory, and Low-Dimensional Topology</a></b>: 2024<br />
<b>MIT - <a href="https://sites.google.com/view/gagemartin/harvard-gauge-theory-and-topology-seminar-spring-2024" target="_blank" >Gauge Theory and Topology Seminar</a></b>: 2024<br />
<b>Columbia - <a href="https://www.math.columbia.edu/department/SGGT/Current/" target="_blank" >Symplectic Geometry and Gauge Theory Seminar</a></b>: 2024
</p>

<a id="resume2025-autofile-last"></a>
</section>

</main>

</div>

</body>
</html>
