<!-- Paste only the article box into this-->

<article class="markdown-body">
    <!-------- SKILLS -------->
    <h2>Skills</h2>

    <ul>
    <li><b>Programming Languages</b>: Python, Java, C/C++, Rust, PyTorch, Scikit-learn, Numpy, Pandas, Polars, SQL, LaTeX</li>
    <li><b>Mathematics &amp; Statistics</b>: Bayesian Statistics, Variational Inference, Convex Optimization, Linear Regression, Partial Differential Equations, Differential Geometry, Riemannian Manifolds</li>
    <li><b>Machine Learning</b>: Variational Autoencoders, Diffusion Models, Transformers, Retrieval Augmented Generation, Low Rank Adaption</li>
    <li><b>Languages</b>: Native proficiency in English and Chinese</li>
    </ul>
    
    <!-------- WORK EXPERIENCE -------->
    <h2>Experience</h2>
    <h4><b>Columbia University</b>, Graduate Student Instructor</h4>
    <ul>
    <li>Sept 2020 – June 2025</li>
    <li>New York, NY</li>
    <li>Created course curriculum and taught biweekly 30 student classes for Calculus 1 as Instructor of Record</li>
    <li>Graduate TA for Calculus and Optimization, Linear Algebra, Calculus 3, Calculus 2, Calculus 1, and Algebraic Topology</li>
    </ul>

    <!-------- EDUCATION -------->
    <h2>Education</h2>
    <h4><b>Columbia University</b>, PhD in Mathematics</h4>
    <ul>
    <li>Sept 2020 – June 2025</li>
    <li>New York, NY</li>
    <li>Advisor: Prof. Francesco Lin</li>
    <li>Thesis: The Seiberg—Witten Equations and Asymptotically Hyperbolic Einstein Metrics</li>
    </ul>

    <h4><b>Columbia University</b>, MA in Mathematics</h4>
    <ul>
    <li>Sept 2020 – June 2022</li>
    <li>New York, NY</li>
    <li>Advisor: Prof. Francesco Lin</li>
    </ul>

    <h4><b>University of California, Santa Barbara</b> BS in Mathematics</h4>
    <ul>
    <li>Sept 2016 – June 2020</li>
    <li>Santa Barbara, CA</li>
    <li>Advisor: Prof. Xianzhe Dai</li>
    <li>Thesis: Adiabatic Limits and Hodge Leray Theory</li>
    </ul>

    <!-------- PROJECTS -------->
    <h2>Projects</h2>
    <h4><a href="https://github.com/axu930/localRAG">localRAG</a></h4>
    <ul>
    <li>Implemented retrieval augmented generation (RAG) for a local collection of academic texts using open source models</li>
    </ul>
    <h4><a href="https://github.com/axu930/mini-diffusion">mini-diffusion</a></h4>
    <ul>
    <li>Implemented a tiny (825k) parameter U-net diffusion model in PyTorch for generation of self-portraits.</li>
    </ul>
    <h4><a href="https://github.com/axu930/LoRA_gpt2">LoRA_gpt2</a></h4>
    <ul>
    <li>Implemented low-rank adaption (LoRA) fine tuning on the GPT2 124M checkpoint in PyTorch to generate text in the style of different authors.</li>
    </ul>
    <h4><a href="https://github.com/axu930/VAEs">VAEs</a></h4>
    <ul>
    <li>Implementation of a variational autoencoder (VAE) to learn the MNIST dataset.</li>
    </ul>

    <!-------- PUBLICATIONS -------->
    <h2>Publications and Preprints</h2>
    <h4>Seiberg-Witten Equations and Einstein Metrics on Finite Volume 4-Manifolds with Asymptotically Hyperbolic Ends (<a href="arxiv.org/abs/2402.1036">https://arxiv.org/abs/2402.1036</a>)</h4>
</article>
