<!-- 
 Remember to reformat work experience
 Projects and skills can be pasted directly in, 
 just remember that each experience line is <h4> level
--> 

<article class="markdown-body">
    <!-------- SKILLS -------->
    <h2>Skills</h2>

    <ul>
    <li><b>Programming Languages</b>: Python, Java, C/C++, Rust, PyTorch, Scikit-learn, Numpy, Pandas, Polars, SQL, LaTeX</li>
    <li><b>Mathematics &amp; Statistics</b>: Bayesian Statistics, Variational Inference, Convex Optimization, Linear Regression, Partial Differential Equations, Differential Geometry, Riemannian Manifolds</li>
    <li><b>Machine Learning</b>: Variational Autoencoders, Diffusion Models, Transformers, Retrieval Augmented Generation, Low Rank Adaption</li>
    <li><b>Languages</b>: Native proficiency in English and Chinese</li>
    </ul>
    
    <!-------- WORK EXPERIENCE -------->
    <h2>Experience</h2>

    <div class="resume-flex-block">
        <div class="resume-company">Columbia University</div>
        <div class="resume-location">New York, NY</div>
    </div>
    <div class="resume-flex-block">
        <div class="resume-position">Graduate Student Instructor</div>
        <div class="resume-date"> 2020 –  2025</div>
    </div>
    <div class="resume-responsibilities-list">
        <ul>
        <li>Instructor of Record for Calculus 1. Created course curriculum and taught biweekly 30 student classes</li>
        <li>Graduate TA for Calculus and Optimization, Linear Algebra, Calculus 1, 2, 3, and Algebraic Topology</li>
        </ul>
    </div>


    <!-------- EDUCATION -------->
    <h2>Education</h2>

    <div class="resume-flex-block">
        <div class="resume-company">Columbia University</div>
        <div class="resume-location">New York, NY</div>
    </div>
    <div class="resume-flex-block">
        <div class="resume-position">PhD Mathematics</div>
        <div class="resume-date"> 2025</div>
    </div>
    <div class="resume-responsibilities-list">
        <ul>
        <li>Advisor: Prof. Francesco Lin</li>
        <li>Thesis: The Seiberg—Witten Equations and Asymptotically Hyperbolic Einstein Metrics</li>
        </ul>
    </div>


    <div class="resume-flex-block">
        <div class="resume-company">Columbia University</div>
        <div class="resume-location">New York, NY</div>
    </div>
    <div class="resume-flex-block">
        <div class="resume-position">MA Mathematics</div>
        <div class="resume-date"> 2022</div>
    </div>
    <div class="resume-responsibilities-list">
        <ul>
        <li>Advisor: Prof. Francesco Lin</li>
        </ul>
    </div>

    <div class="resume-flex-block">
        <div class="resume-company">UC Santa Barbara</div>
        <div class="resume-location">Santa Barbara, CA</div>
    </div>
    <div class="resume-flex-block">
        <div class="resume-position">BSc Mathematics</div>
        <div class="resume-date"> 2020</div>
    </div>

    <div class="resume-responsibilities-list">
    <ul>
    <li>Advisor: Prof. Xianzhe Dai</li>
    <li>Thesis: Adiabatic Limits and Hodge Leray Theory</li>
    </ul>
    </div>

    <!-------- PROJECTS -------->
    <h2>Projects</h2>
    <h4><a href="https://github.com/axu930/localRAG">localRAG</a></h4>
    <div class="resume-responsibilities-list">
        <ul>
        <li>Implemented retrieval augmented generation (RAG) for a local collection of academic texts using open source models</li>
        </ul>
    </div>

    <h4><a href="https://github.com/axu930/mini-diffusion">mini-diffusion</a></h4>
    <div class="resume-responsibilities-list">
        <ul>
        <li>Implemented a tiny (825k) parameter U-net diffusion model in PyTorch for generation of self-portraits.</li>
        </ul>
    </div>
    

    <h4><a href="https://github.com/axu930/LoRA_gpt2">LoRA_gpt2</a></h4>
    <div class="resume-responsibilities-list">
        <ul>
        <li>Implemented low-rank adaption (LoRA) fine tuning on the GPT2 124M checkpoint in PyTorch to generate text in the style of different authors.</li>
        </ul>
    </div>

    <h4><a href="https://github.com/axu930/VAEs">VAEs</a></h4>
    <div class="resume-responsibilities-list">
        <ul>
        <li>Implementation of a variational autoencoder (VAE) to learn the MNIST dataset.</li>
        </ul>
    </div>
    

    <!-------- PUBLICATIONS -------->
    <h2>Publications and Preprints</h2>
    <ul>
    <li>Seiberg-Witten Equations and Einstein Metrics on Finite Volume 4-Manifolds with Asymptotically Hyperbolic Ends (<a href="arxiv.org/abs/2402.1036">https://arxiv.org/abs/2402.1036</a>)</li>
    </ul>
</article>
