<article class="markdown-body">
    <h1>Resume</h1>
    <ul>
    <li>Phone: +1 805 708 2565</li>
    <li>Email: <a href="mailto:axu930@gmail.com">axu930@gmail.com</a></li>
    <li>Location: Bay Area, California</li>
    <li>Website: <a href="https://axu930.github.io/">axu930.github.io</a></li>
    <li>LinkedIn: <a href="https://linkedin.com/in/xu-alex">xu-alex</a></li>
    <li>GitHub: <a href="https://github.com/axu930">axu930</a></li>
    </ul>
    <h1>Skills</h1>
    <ul>
    <li>Programming Languages: Python, Java, C/C++, Rust, PyTorch, Scikit-learn, Numpy, Pandas, Polars, SQL, LaTeX</li>
    <li>Mathematics &amp; Statistics: Bayesian Statistics, Variational Inference, Convex Optimization, Linear Regression, Partial Differential Equations, Differential Geometry, Riemannian Manifolds</li>
    <li>Machine Learning: Variational Autoencoders, Diffusion Models, Transformers, Retrieval Augmented Generation, Low Rank Adaption</li>
    <li>Languages: Native proficiency in English and Chinese</li>
    </ul>
    <h1>Experience</h1>
    <h2>Columbia University, Graduate Student Instructor</h2>
    <ul>
    <li>Sept 2020 – June 2025</li>
    <li>New York, NY</li>
    <li>Created course curriculum and taught biweekly 30 student classes for Calculus 1 as Instructor of Record</li>
    <li>Graduate TA for Calculus and Optimization, Linear Algebra, Calculus 3, Calculus 2, Calculus 1, and Algebraic Topology</li>
    </ul>
    <h1>Education</h1>
    <h2>Columbia University, PhD in Mathematics</h2>
    <ul>
    <li>Sept 2020 – June 2025</li>
    <li>New York, NY</li>
    <li>Advisor: Prof. Francesco Lin</li>
    <li>Thesis: The Seiberg—Witten Equations and Asymptotically Hyperbolic Einstein Metrics</li>
    </ul>
    <h2>Columbia University, MA in Mathematics</h2>
    <ul>
    <li>Sept 2020 – June 2022</li>
    <li>New York, NY</li>
    <li>Advisor: Prof. Francesco Lin</li>
    </ul>
    <h2>University of California, Santa Barbara, BS in Mathematics</h2>
    <ul>
    <li>Sept 2016 – June 2020</li>
    <li>Santa Barbara, CA</li>
    <li>Advisor: Prof. Xianzhe Dai</li>
    <li>Thesis: Adiabatic Limits and Hodge Leray Theory</li>
    </ul>
    <h1>Projects</h1>
    <h2><a href="https://github.com/axu930/localRAG">localRAG</a></h2>
    <ul>
    <li>Implemented retrieval augmented generation (RAG) for a local collection of academic texts using open source models</li>
    </ul>
    <h2><a href="https://github.com/axu930/mini-diffusion">mini-diffusion</a></h2>
    <ul>
    <li>Implemented a tiny (825k) parameter U-net diffusion model in PyTorch for generation of self-portraits.</li>
    </ul>
    <h2><a href="https://github.com/axu930/LoRA_gpt2">LoRA_gpt2</a></h2>
    <ul>
    <li>Implemented low-rank adaption (LoRA) fine tuning on the GPT2 124M checkpoint in PyTorch to generate text in the style of different authors.</li>
    </ul>
    <h2><a href="https://github.com/axu930/VAEs">VAEs</a></h2>
    <ul>
    <li>Implementation of a variational autoencoder (VAE) to learn the MNIST dataset.</li>
    </ul>
    <h1>Publications</h1>
    <h2>Seiberg-Witten Equations and Einstein Metrics on Finite Volume 4-Manifolds with Asymptotically Hyperbolic Ends (<a href="arxiv.org/abs/2402.1036">https://arxiv.org/abs/2402.1036</a>)</h2>
    <ul>
    <li>Feb 2024</li>
    <li>Alex Xu</li>
    </ul>
</article>
